html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#toolbar {
  flex: 0 1 auto;
  border-bottom: 2px ridge #CCCCCC;
}

#toolbar button {
  margin: 3px;
}

#logger {
  flex: 0 1 auto;
  max-height: 200px;
  overflow: auto;
  white-space: pre-wrap;
}

#logger .warn {
  color: #f0ad4e;
  font-weight: bold;
}

#logger .error {
  color: #d9534f;
  font-weight: bold;
}

/* tree */
#item-root {
  flex: 1 1 auto;
  overflow: auto;
  padding: 0 1.65em;
  font-size: 12px;
  line-height: 1.35em;
  font-family: sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: .2em 0;
  padding-__MSG_@@bidi_start_edge__: .85em;
}

li > div {
  margin-__MSG_@@bidi_start_edge__: -.85em;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: #000000;
}

a > img {
  display: inline-block;
  margin-left: .1em;
  margin-right: .1em;
  border: none;
  width: 1.25em;
  height: 1.25em;
  vertical-align: middle;
}

a.scrapbook-toggle {
  margin-__MSG_@@bidi_start_edge__: -1.45em;
}

a.scrapbook-external > img {
  width: 1em;
  height: 1em;
  vertical-align: top;
}

.scrapbook-type-bookmark > div > a {
  color: rgb(32,192,32);
}

.scrapbook-type-note > div > a {
  color: rgb(80,0,32);
}

.scrapbook-type-site > div > a {
  color: blue;
}

.scrapbook-type-separator > div > fieldset {
  margin: 0;
  border: none;
  border-top: 1px solid #aaa;
  padding: 0 0 0 1em;
  text-indent: 0;
}

.scrapbook-type-separator > div > fieldset > legend {
  padding: 0;
}

.scrapbook-marked > div > a {
  font-weight: bold;
}

.highlight {
  background-color: #EBF4FD;
}
